* {
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #666;
}

body {
    background-color: #EAC926;
    width: 100%;
}

main {
    width: 100%;
}

/* HEADER */

.header-section {
    display: flex;
    height: 10%;
}

/* LOGO */

.img-logo {
    width: 20%;
    max-width: 200px;
    height: 100%;
    margin: 20px 5%;
}

/* SEARCHBAR */

.container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-searchbar {
    width: 90%;
    height: 100%;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: #000;
}

.searchbar button {
    border: 0;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;;
}

.input-searchbar::placeholder {
    color: #000;
    font-size: 15px;
}

.search-button {
    color: #fff;
    font-size: 15px;
}

/* TITLE */

.title {
    text-align: center;
    margin: auto auto;
    color: #000;
    min-width: 340px;
}

.fa-hand-holding-usd {
    color: #000;
}

/* NAV */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.nav-item {
    list-style: none;
    padding: 0px 15px;
}

.navbar-nav {
    display: flex;
}

.navbar-nav-icons {
    display: flex;
}

a {
    text-decoration: none;
}

a:hover {
    color: #000;
}


/* BANNER */

.header-banner {
    width: 100%;
    height: 400px;
    margin: 20px 0px 0px 0px;
    background-image: url(/assets/img/img-home-banner.jpg);
    background-size: cover;
    background-position: center;
}


/* ICON */

.nav-icon {
    text-align: center;
    display: none;
}

.inside-icon {
    width: 35px;
    height: 35px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 5px;
    font-size: 20px;
}

/* SECTION PRODUCTOS */

.section-productos-ofertas,
.section-productos-ultima-visita {
    background-color: #ebebeb;
    display: flexbox;
}

.h2-section-ofertas {
    font-size: 24px;
    padding: 20px 0px 20px 20px;
}

.section-ofertas {
    display: inline-block;
    width: 350px;
    height: 400px;
    background-color: #ebebeb;
    margin: 15px;
    box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.8);
}

.section-ofertas:hover {
    transform: scale(1.05);
    transition: all 300ms ease-out;
    cursor: pointer;
}

.section-ofertas-items {
    display: flex;
    justify-content: space-around;
}

.img-productos {
    height: 300px;
    width: 300px;
    display: flex;
    
}

.img-ofertas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.info-producto {
    padding: 0px 15px 15px 15px;
    position: relative;
    bottom: 40px;
}

.section-div-icon {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.info-envio {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    padding: 5px;
    /* position: relative;
    bottom: 40px; */
}

.info-venta {
    width: 100%;
}

.info-precio {
    font-size: 18px;
    display: inline;
    width: 30%;
}

.info-descuento {
    display: inline-block;
    color: green;
    font-size: 16px;
    width: 60%;
}

.info-descripcion {
    font-size: 16px;
}

/* FOOTER */

.footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.footer-nav {
    width: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: row;
}

.footer-section {
    margin: 40px;
    text-align: center;
}

.footer-icons {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #03264C;
}

.footer-copyright {
    display: flex;
}

@media (max-width: 1300px) {

    /* HEADER */
    
    .header-section {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px
    }

    .container {
        width: 70%;    
    }

    .img-logo {
        width: 20%;
    }

    /* BANNER */

    .header-banner {
        height: 300px;
    }

    /* MAIN */

    .section-ofertas-items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media (max-width: 940px) {

    /* HEADER NAV */
    .navbar {
        flex-wrap: wrap;
    }

    .navbar-nav {
        margin: 5px;
    }

    .navbar-nav-icons {
        margin: 5px;
    }

    /* FOOTER NAV */
    .footer-nav {
        flex-wrap: wrap;
    }

}

@media (max-width: 600px) {

    .navbar {
        display: none;
    }

    .nav-icon {
        display: block;
        margin-top: 20px;
    }

    .container {
        width: 55%;    
    }

    .img-logo {
        width: 35%;
    }

    .header-banner {
        height: 150px;
    }
}
