@import url(./index.css);
@import url(./form-login.css);
@import url(./form-register.css);

* {
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #666;
}

body {
    background-color: #EAC926;
    width: 100%;
}

main {
    width: 100%;
}

/* HEADER */

.header-section {
    display: flex;
    height: 10%;
}

/* LOGO */

.img-logo-a {
    width: 20%;
    max-width: 200px;
    height: 100%;
    margin: 20px 5%;
}

.img-logo {
    width: 100%;
    height: 100%;
}

/* SEARCHBAR */

.container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-searchbar {
    width: 90%;
    height: 100%;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: #000;
}

.searchbar button {
    border: 0;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent;
}

.input-searchbar::placeholder {
    color: #000;
    font-size: 15px;
}

.search-button {
    color: #fff;
    font-size: 15px;
}

/* TITLE */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    min-width: 340px;
}

.fa-hand-holding-usd {
    color: #000;
}

/* NAV */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.nav-item {
    list-style: none;
    padding: 0px 15px;
}

.navbar-nav {
    display: flex;
}

.navbar-nav-icons {
    display: flex;
}

a {
    text-decoration: none;
}

a:hover {
    color: #000;
}

/* ICON */

.nav-icon {
    text-align: center;
    display: none;
}

.inside-icon {
    width: 35px;
    height: 35px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 5px;
    font-size: 20px;
}

/* FOOTER */

.footer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.footer-nav {
    width: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: row;
}

.footer-section {
    margin: 40px;
    text-align: center;
}

.footer-icons {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #03264C;
}

.footer-copyright {
    display: flex;
}


/* RESPONSIVE */

@media (max-width: 1300px) {

    /* HEADER */

    .header-section {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px
    }

    .container {
        width: 70%;
    }

    .img-logo-a {
        width: 20%;
    }

    .title {
        width: 100%;
    }

    /* BANNER */

    .header-banner {
        height: 300px;
    }

    /* MAIN */

    .section-ofertas-items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /* LOGIN  */
    .form {
        height: 450px;
    }


}

@media (max-width: 940px) {

    /* HEADER NAV */
    .navbar {
        flex-wrap: wrap;
    }

    .navbar-nav {
        margin: 5px;
    }

    .navbar-nav-icons {
        margin: 5px;
    }

    /* FOOTER NAV */
    .footer-nav {
        flex-wrap: wrap;
    }

    /* LOGIN  */
    .form {
        height: 500px;
    }

}

@media (max-width: 600px) {

    .navbar {
        display: none;
    }

    .nav-icon {
        display: block;
        margin-top: 20px;
    }

    .container {
        width: 55%;
    }

    .img-logo-a {
        width: 35%;
    }

    .title {
        font-size: .9rem;
    }

    .header-banner {
        height: 150px;
    }

    /* LOGIN  */
    .form {
        height: 550px;
    }
}